@import '../../../CSS/globals.defaults.css';
@import '../../../CSS/globals.variables.css';
@import '../../../CSS/globals.layout.css';


.interestingFactsTable {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: 0;
}

.factMiddle {
  background-image: url('../../../Files/Images/bf_exp_facts_middle.svg');
}

.factTop {
  line-height: 0;
}

.factBottom {
  line-height: 0;
  vertical-align: top;
}

.factTitle {
  position: relative;
  top: 5px;

  margin: 0;

  font-family: var(--mainFont);
  font-weight: normal;

  color: var(--mainColor);

  font-size: 2.0rem;
}