@import '../../../CSS/_defaults';
@import '../../../CSS/_variables';
@import '../../../CSS/_layout';


.container-25-25-25-25 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-template-areas: "icon player1 player2 player3";
}

.itemIcon {
  grid-area: icon;
}

.itemPlayer1 {
  grid-area: player1
}

.itemPlayer2 {
  grid-area: player2
}

.itemPlayer3 {
  grid-area: player3
}

.ageButton {
  font-size: 3rem;
}