@import '../../../CSS/globals.defaults.css';
@import '../../../CSS/globals.variables.css';
@import '../../../CSS/globals.layout.css';

.container-25-25-25-25 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "icon player1 player2 player3";
}

.itemIcon {
  grid-area: icon;
}

.itemPlayer1 {
  grid-area: player1
}

.itemPlayer2 {
  grid-area: player2
}

.itemPlayer3 {
  grid-area: player3
}

.ageButton {
  text-decoration: none;
  display: inline-block;

  font-size: 3rem;
  line-height: 1;

  padding: 1.3rem;

  background-color: transparent;

  border: 1px solid var(--mainColor);
  border-radius: 60px;

  color: lightgray;

  &:focus {
    outline: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.ageTitle {
  font-family: var(--mainFont);
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;

  &:after {
    content: '';

    position: relative;
    display: block;

    width: 100%;

    border-bottom: solid 2px var(--mainColor);
  }
}

.soundTable {
  border: 0;

  margin-bottom: 2rem;

  & td {
    text-align: center;
    border-bottom: 1px dotted black;
    padding: 1rem 0;
  }

  & .ageCell {
    padding: 0.1rem;
  }

  & .audiogramCol {
    min-width: 500px;
    padding: 2rem;
    background-color: white;
  }
}

.active {
  background-color: var(--mainColor);
}

.music:before,
.nature:before {
  font-family: var(--iconFont);
  font-size: 2rem;
}

.speech:before {
  font-family: var(--iconFont);
  font-size: 3rem;
}

.music:before {
  content: var(--musicIcon);
}

.speech:before {
  content: var(--speechIcon);
}

.nature:before {
  content: var(--natureIcon);
}

.activeRow {
  background-color: #f5f5f5;
}

.audiogramButton {
  padding: 1.5rem;

  color: var(--mainColor);

  font-size: 1.5rem;
  line-height: 115%;

  font-family: var(--heavyFont);

  border: 1px solid var(--mainColor);

  border-radius: 50px;
  background-color: transparent;

  & span {
    display: block;
    position: relative;

    padding-left: 2rem;
    padding-right: 2rem;

    top: 0.3rem;
  }

  &:focus {
    outline: none;
  }
}
