@import '../../CSS/_variables';

.wrapper {

    padding: 1rem;
    margin-bottom: 3rem;

    overflow-y: hidden;
    height: 150px;

    background: $mainGradient;

    .imgSrc {
        z-index: 0;
    }


}

.imgTitle {
    position: absolute;

    font-family: 'GillSansMTPro-Light';
    font-size: 2.5rem;
    font-weight: normal;

    color: white;

}
