@import '../../CSS/globals.defaults.css';
@import '../../CSS/globals.variables.css';

/**
* Defintions
*/

.bernafonLayer {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 7px;
}

.breadcrumbWrapper {
  background: rgb(245,245,245);
  padding: 1rem 0 0.5rem 0;
}

.header {
  position: absolute;
  top: 0;

  height: 7.6rem;
  margin-top: 7px;

  width: 100%;
}

.headerNavigation {
  padding: 1rem 0 0 0;
}

.languageSelector {
  float: right;
  width: 25%;
}

.languageButton,
.homeButton,
.backButton {
  color: var(--mainColor);
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.5rem;
  background: none;
  margin-right: 0.2rem;
}

.languageButton {
  font-size: 1.0rem;

  padding: 0.8rem;
}

.homeButton,
.backButton {
  font-family: var(--iconFont);

  &:focus {
    outline: 0;
  }

}

