.header {
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--main-color);
}

.header h1 {
    float: left;
    color: white;
    /*margin-left: 1rem; */
}

.header .languageSelector {
    float: right;
    width: 25%;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    margin: 0.5rem;
    background-color: var(--main-color);
}