@import '../../CSS/globals.defaults.css';
@import '../../CSS/globals.variables.css';

/**
* Defintions
*/

.bernafonLayer {

  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 7px;
}

.breadcrumbWrapper {
  background: rgb(245,245,245);
  padding: 1rem 0 0.5rem 0;
}

.header {
  position: absolute;
  top: 0;

  margin-top: 7px;
  padding: 1rem 0;

  height: 5rem;
  width: 100%;

}

.headerGrid {
  display: grid;
  grid-template: repeat(5, 20%) / repeat(5, 20%);
}

.top {
  grid-column-start: 2;
  grid-column-end: 6;

  margin-bottom: 1rem;
}

.bottom {
  margin-bottom: 1rem;
}

.languageSelector {
  float: right;
  width: 25%;
}