/**
* FONTS
*/

$iconFont: "bernafonexperience";
$mainFont:"GillSansMTPro-Book";
$lightFont: "GillSansMTPro-Light";
$heavyFont: "GillSansMTPro-Medium";

/**
* ICONS
*/
$arrowIcon: '\64';

/**
* COLORS
*/
$mainColor: rgb(204, 17, 34);
$mainGradient: linear-gradient(rgb(204, 17, 34) 0%, rgb(148, 14, 25) 100%);