/**
* CSS-Grid
*/

.grid,
.gridSimulator {
  display: grid;

  grid-column-gap: 1rem;

  grid-template-rows: 10rem min-content;
  grid-template-areas:
          "bleed1 header1 header2 bleed2"
          "bleed3 content side bleed4";

  margin-top: 8.6rem; /* Header height */
}

.grid {
  grid-template-columns: 0.5fr 2fr 1fr 0.5fr;
}

.content, .side {
  padding: 0.5rem;
}

.content {
  grid-area: content;
}

.side {
  grid-area: side;
}

.full {
  grid-column-start: 2;
  grid-column-end: 4;
}