@import 'globals.variables.css';

/**
* Text
*/

h1 {
  font-family: var(--heavyFont);
}

p {
  font-family: var(--lightFont);
}

.mainTitle {
  font-family: var(--heavyFont);
}

.mainParagraph {
  margin: 1rem 0;
  padding: 1rem 0;

  font-family: var(--lightFont);
  font-size: 1.5rem;

  line-height: 150%;

  border-top: 1px solid var(--mainColor);
  border-bottom: 1px solid var(--mainColor);

}

.factParagraph {
  font-family: var(--lightFont);
  font-size: 1.5rem;
  line-height: 150%;
}

/**
* Buttons
*/

.textButton,
.mainButton {

  text-decoration: none;
  display: inline-block;

  font-family: var(--mainFont);
  text-align: center;
  font-size: 1.2rem;

  line-height: 1;
  color: white;

  border: 1px solid white;
  border-radius: 50px;

  background-color: var(--mainColor);

  &:hover {
    background-color: var(--hoverColor);
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &.active {
    background-color: var(--hoverColor);
    &:before {
      color: var(--hoverColor);
    }
  }
}

.mainButton {
  padding: 1.5rem;

  font-size: 2rem;
  line-height: 115%;
  text-align: left;

  & span {
    display: block;
    position: relative;

    padding-left: 2rem;
    padding-right: 2rem;

    top: 0.3rem;
  }

  &:hover:before {
    color: var(--hoverColor);
  }
}

.buttonList {
  list-style: none;

  padding: 0;
  margin: 0.8rem 0;

  & li {
    margin-bottom: 1rem;
  }
}
