/**
* CSS-Grid
*/

.grid {
  display: grid;
  grid-template: repeat(5, 20%) / repeat(5, 20%);
}


/*
.container-60-40,
.container-50-50 {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "main side";
}

.container-10-80-10 {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "left content right";
  grid-auto-columns: 10% 80% 10%;
}

.container-60-40 {
  grid-template-columns: 60% 40%;
}

.container-50-50 {
  grid-template-columns: 50% 50%;
}
*/


.itemMain,
.itemSide {
  padding: 0.5rem;
}

.itemMain {
  grid-area: main;
}

.itemSide {
  grid-area: side;
}

.pageContent {
  margin-top: 100px;
}