@import 'globals.variables.css';

/**
* Text
*/

h1 {
  font-family: var(--heavyFont);
}

p {
  font-family: var(--lightFont);
}

.mainTitle {
  font-family: var(--heavyFont);
}

.mainParagraph {
  margin: 1rem 0;
  padding: 1rem 0;

  font-family: var(--lightFont);
  font-size: 1.5rem;

  line-height: 150%;

  border-top: 1px solid var(--mainColor);
  border-bottom: 1px solid var(--mainColor);

}

.factParagraph {
  font-family: var(--lightFont);
  font-size: 1.5rem;
  line-height: 150%;
}

/**
* Buttons
*/

.textButton,
.mainButton {

  text-decoration: none;
  display: inline-block;

  font-family: var(--mainFont);
  text-align: center;
  font-size: 1.2rem;

  line-height: 1;
  color: white;

  border: 1px solid white;
  border-radius: 50px;

  background-color: var(--mainColor);

  &:hover {
    background-color: var(--hoverColor);
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &.active {
    background-color: var(--hoverColor);
    &:before {
      color: var(--hoverColor);
    }
  }
}

.textButton {
  padding: 1rem 1rem 0.5rem 1rem;
}

.mainButton {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  text-align: left;

  & span {
    position: relative;
    top: 0.3rem;
  }

  &:before {
    content: var(--arrowButtonIcon);

    display: inline-block;
    float: left;

    font-family: var(--iconFont);
    text-transform: none;

    color: var(--mainColor);

    padding: 0.5rem;
    margin-right: 1rem;

    border-radius: 50%;
    background-color: rgb(255, 255, 255);
  }

  &:hover:before {
    color: var(--hoverColor);
  }

}

.buttonList {
  list-style: none;

  padding: 0;
  margin: 0;

  & .listItem {
    margin-bottom: 1rem;
  }

}
