@import '../../CSS/variables';

/**
* Module specific vars
*/

$arrowIcon: '\64';
$inactiveColor: rgb(0, 0, 0);
$activeColor: $mainColor;

/**
* Defintions
*/

.breadcrumb {
  position: relative;
  color: $inactiveColor;

  font-family: $mainFont;
  font-size: 1.5rem;

  padding-left: 1rem;
}

.crumb {
  color: $activeColor;
  text-decoration: none;
  margin-right: 1.1rem;

  // Icon
  &:after {
    position: absolute;

    top: 0.1rem;

    color: $mainColor;
    font-family: $iconFont;
    font-size: 1rem;
    content: $arrowIcon;
  }
}

