@import '../../CSS/globals.variables.css';

.breadcrumb {
  position: relative;
  color: var(--inactiveColor);

  font-family: var(--mainFont);
  font-size: 1.5rem;

  padding-left: 1rem;
}

.crumb {
  color: var(--activeColor);
  text-decoration: none;
  margin-right: 1.1rem;

  &:after {
    position: absolute;

    content: var(--arrowIcon);

    color: var(--mainColor);
    font-family: var(--iconFont);
    font-size: 1rem;

    top: 0.1rem;
  }
}

.homeIcon {
  font-family: var(--iconFont);
  &:before {
    content: '\68';
  }
  &:after {
    content: var(--arrowIcon);
    font-size: 1rem;
  }
}
