/**
* FONT
*/
* {
    font-family: 'GillSansMTPro-light';
    font-size: 1.2rem;
}

/**
* CSS-Grid
*/

.container-60-40,
.container-50-50 {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "main side";
}

.container-60-40 {
    grid-template-columns: 60% 40%;
}

.container-50-50 {
    grid-template-columns: 50% 50%;
}

.item-main, .item-side {
    padding: 0.5rem;
}

.item-main {
    grid-area: main;
}

.item-side {
    grid-area: side;
}

.pageContent {
    margin-top: 100px;
}

/**
* Styles
*/

.gradient {
    background: var(--main-gradient);
    color: #fff;
}


/**
* Base-Buttons
*/

.main-button {

    text-decoration: none;
    display: inline-block;

    font-family: "GillSansMTPro-Medium";
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;

    line-height: 1;
    color: white;

    padding: 0.1rem 1.3rem 0.5rem 1rem;

    border: 1px solid white;
    border-radius: 50px;

    background-color: var(--main-color);
}

.main-button:before {
    content: '\63';

    display: inline-block;
    position: relative;

    font-family: "bernafonexperience";
    text-transform: none;

    color: var(--main-color);

    margin: 0.2rem 0.8rem 0.2rem -0.5rem;
    padding: 0.5rem;

    border-radius: 50%;
    background-color: #fff; /* Always stays white */
    top: 0.2rem;
}

.main-button:hover:before {
    color: var(--hover-color);
}

.main-button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.main-button.active {
    background-color: var(--hover-color);
}

.main-button:focus {
    outline: 0;
}

.main-button.active:before {
    color: var(--hover-color);
}

/**
* Base-Elements
*/

.item-side img {
    width: 100%;
}

.crumb {
    text-decoration: none;
    color: var(--main-color);
}

.crumb:after {
    content: '\64';

    display: inline;

    font-family: "bernafonexperience";
    font-size: 1rem;

}