.AudioPlayer {
    text-align: center;
    color: var(--main-color);
}

.AudioPlayer .Information p {
    font-size: 3rem;
    margin: 0;
}

.AudioPlayer .icon {
    font-size: 4rem;
    padding: 0.5rem 0;
}
