@import '../../../CSS/defaults';
@import '../../../CSS/layout';

.textButton {
  width: 100%;
  padding: 1rem 0.5rem 0.5rem 1rem;
}

.infoTable {
  height: 400px;

  .infographic {
    padding-bottom: 2rem;
  }
 }

